{% extends 'base.html' %}

{% block content %}

<form method="GET" action="/books" class="mb-4">

    <div class="row">

        <div class="col-md-4">

            <select
                name="category"
                class="form-control"
            >

                <option value="">
                    All Categories
                </option>

                {% for category in categories %}

                <option
                    value="{{ category[0] }}"
                >
                    {{ category[0] }}
                </option>

                {% endfor %}

            </select>

        </div>

        <div class="col-md-2">

            <button
                type="submit"
                class="btn btn-primary"
            >
                Search
            </button>

        </div>

    </div>

</form>

<h2 class="mb-4">
    Books Collection
</h2>

<div class="row">

{% for book in books %}

    <div class="col-md-4 mb-4">

        <div class="card h-100 shadow-sm">

            <div class="card-body">

                <h5 class="card-title">
                    {{ book.title }}
                </h5>

                <p>
                    <strong>Author:</strong>
                    {{ book.author }}
                </p>

                <p>
                    <strong>Category:</strong>
                    {{ book.category }}
                </p>

                <h5>
                    ₹ {{ book.price }}
                </h5>

                <button
                    class="btn btn-primary"
                >
                    Buy Now
                </button>

            </div>

        </div>

    </div>

{% endfor %}

</div>

{% endblock %}