{% extends "base.html" %}

{% block content %}

<div class="text-center py-5">

    <h1 class="display-4">
        Welcome to BookVerse
    </h1>

    <p class="lead">
        Discover, Search and Buy Books Online
    </p>

    <form action="/books" method="GET">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search books by title..."
        >

        <br>

        <button
            class="btn btn-primary"
            type="submit"
        >
            Search Books
        </button>

    </form>

</div>

<hr>

<h2 class="mb-4">
    Featured Categories
</h2>

<div class="row">

{% for category in categories %}

    <div class="col-md-3 mb-3">

        <a href="/books?category={{ category[0] }}" class="text-decoration-none text-dark">
            <div class="card p-3 text-center shadow-sm">
                <h5>{{ category[0] }}</h5>
            </div>
        </a>

    </div>

{% endfor %}

</div>
<br>

<h2 class="mt-5">
    Latest Books
</h2>

<div class="row">

{% for book in latest_books %}

    <div class="col-md-3">

        <div class="card mb-3">

            <div class="card-body">

                <h5>
                    {{ book.title }}
                </h5>

                <p>
                    {{ book.author }}
                </p>

                <p>
                    ₹ {{ book.price }}
                </p>

            </div>

        </div>

    </div>

{% endfor %}

</div>

{% endblock %}