<!-- from werkzeug.security import check_password_hash
from flask_login import login_user

user = User.query.filter_by(
    email=email
).first()

if user and check_password_hash(
    user.password,
    password
):
    login_user(user) -->

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>

    <h2>Login</h2>

    <form method="POST">

        <label>Email:</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Login</button>

    </form>

</body>
</html>